{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": false,
      "decorators": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"],
      "@images/*": ["./src/images/*"],
      "@common/*": ["./src/common/*"],
      "@components/*": ["./src/components/*"],
      "@features/*": ["./src/features/*"],
      "@layout/*": ["./src/layout/*"],
      "@pages/*": ["./src/pages/*"],
      "@store/*": ["./src/store/*"],
      "@styles/*": ["./src/styles/*"],
      "@public/*": ["./public"]
    }
  },
  "minify": false
}
